
.coin-container 
{
    display: flex;
    justify-content: center;
    
}


.coin-row
{
    display: flex;
    flex-direction: row;
    justify-items:start;
    align-items: center;
    height: 120px;
    border: solid rgb(246, 243, 243);
    width:  1400px;
    margin-top: 80px;
    background-color: rgb(243, 244, 244);
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
    color:white
}

.img1
{
    height: 50px;
}


.coin img{
   margin-right: 5px;
   height: 10px;
}

.coin h3{
    font-size: 16px;
    width: 150px ;
    font-weight: lighter;
    margin-left: 100px;
    justify-content: space-between;
    color:aquamarine
}


.coin-symbol
{
    text-transform: uppercase;
    margin-left: 110px;
    font-weight: bolder;
    color:rgb(13, 12, 12);
    font-weight: lighter;
}

.coin-price
{
    color: #c7e909;
    margin-right: 60px;
    font-weight: lighter;
    font-weight: bolder;
}

.coin-data
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-volume
{
    width: 200px;
    font-weight: bolder;
    color: white
}

.coin-marketcap
{
    width: 240px;
    font-weight: bolder;
}

.coin-percent
{
    width:100%;
}

.red
{
    color : red;
    font-weight: bold;
    font-weight: bolder;
}

.green
{
    color: #11d811;
    font-weight: lighter;
    font-weight: bolder;
}






.upper
{
    border: solid rgb(247, 243, 243);
    position: absolute;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}










